html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: black;
	font-family: Georgia, 'Times New Roman', Times, serif;
	line-height: 1.6;
	text-align: left;
}

.title {
	background-color: rgba(95, 121, 149, 1);
	color: white;
	font-family: Futura, 'Gill Sans', 'Helvetica Neue', Arial, sans-serif;
	text-transform: uppercase;
    letter-spacing: 0.2em;
	line-height: 2.95;
}

a {
	padding: 0 15%;
	font-size: 1.75em;
}

.content {
	width:  70%;
	margin: 0 auto;
	color: white;
}

h1 {
	letter-spacing: 0.025em;
	min-height: 1.68em;
    border-bottom: 0.25em solid rgba(95, 121, 149, 0.5);
	/*for border --- ^ */
	font-weight: normal;
    line-height: 0.2em;
	font-size: calc( 2em + (11.25 - 2.25) * ( (100vw - 20em) / ( 100 - 20) ));
}

p {
	margin: 2em 0;
}

p {
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.first {
	font-variant: small-caps;
	line-height: 1.75em;
}

p.first:first-of-type cite {
	white-space: pre;
}

 cite {
	font-style: italic;
}
