body {
    background-image: url(https://imgs.search.brave.com/TJE3FE5E58GQFdNbiA9vKsdZyUvQDys5QszIzaO6dho/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTI5/OTg1NTEzNi9waG90/by9zaWxob3VldHRl/LW9mLWhvd2xpbmct/d29sZi1hZ2FpbnN0/LWRlYWQtZm9yZXN0/LXNreWxpbmUtYW5k/LWZ1bGwtbW9vbi1j/cmVhdGl2ZS1hcnR3/b3JrLmpwZz9zPTYx/Mng2MTImdz0wJms9/MjAmYz14RWVNN0pz/SmoyOTBiTmw2Rm5O/dFk5bkZPRXFPZHVQ/N0I1Y3FZVUp3MC1V/PQ);
    background-repeat: no-repeat;
    background-size: cover;
    color: lightblue;
    body *:not(hr) {
        display: flex;
            gap: 10px;
    }
}

h2 {
    text-align: center;
}

table, tr, th, td, caption {
    border: 1px solid #75f0cd;
    font-family: 'Courier New', Courier, monospace;
    border-collapse:collapse;
    padding: 0.5rem;
}

#cat-back {
    background-color: rgba(245, 16, 16, 0.3);
}

.lists-labels {
    background-color: rgba(39, 237, 214, 0.3);
}

p {
    font-size: 16px;
    font-family: monospace;
}

a {
    color: rgb(105, 223, 144);
}

.main_part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    * {
        margin: auto;   
    }
}

footer {
    text-align: center;
}

.table_sec {
    display: flex;
    flex-direction: column;
    table {
        margin: auto;
    }
}
.contact_ar {
    display: flex;
    flex-direction: column;
    * {
        margin: auto;
    }
    gap: 10px;
}